#aboutcss {
    color: #ffffff;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
    margin-left: 25%;

    @media (max-width: 500px) {
        margin-left: -5%;
    }
  }
  
  #nombre_about{
    
    border: 3px solid transparent;
    border-image: linear-gradient(0deg, #51afde, #eb478f) 10;
    padding: 20px;
    width: 100%;
    margin-left: 10%;

    @media (max-width: 500px) {
        width: 70%;
        margin-left: 1%;
        padding: 4px;
    }

    
}

  #aboutcss  span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: #51afde;
    color: #2b2729;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 10s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 285px;
    }
    30% {
      top: 0.2rem;
      width: 285px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 285px;
    }
    62% {
      top: -4.5rem;
      width: 285px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }